@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
  --primary-color: #e63946;
  --secondary-color: #f1faee;
}
body {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  margin: 0;
  background-color: var(--secondary-color);
}
/* .div__output {
  height: 10vh;
  width: 80%;
  border: 1px solid black;
} */
/* containers */
.container {
  padding: 1rem;
}
.container--center {
  max-width: 800px;
  margin: auto;
}
/* sections */
.section {
  padding: 2rem;
}
/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
}
.nav-brand {
  font-weight: bold;
  font-size: 2rem;
}
/* text-Area */
.text__input {
  height: 10vh;
  width: 90%;
  display: block;
  padding: 1rem;
  /* margin: 1rem; */
}
/* div containing output */
.text__output {
  height: 10vh;
  width: 90.2%;
  /* margin: 1rem; */
  border: 1px solid black;
  margin-top: 2rem;
  color: black;
  padding: 1rem;
}
/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 4rem 25rem;
  margin-top: 10rem;
  text-align: center;
}
.footer h2,
p {
  /* font-size: 1em; */
  color: var(--secondary-color);
}
/* button */
.btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  /* border-radius: rem; */
  padding: 1rem 2rem;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: var(--secondary-color);
  cursor: pointer;
  margin: 2rem 0;
}
h4 {
  margin: 0;
}
